body {
  margin:0;
  font-size: 80%;
}

div.container {
  width: 84.065934066%;
  height: 90.661478599%;
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}

div {
  box-sizing: border-box;
}

.table {
  border-radius: 10px;
  border: 2px solid #000000;
  overflow: hidden;
  border-collapse: separate;
  width: 100%;
  margin-top: 5px;
}

.row {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

.cell:first-child {
  border-left: none;
}

.row:first-child .cell {
  border-top: none;
}

.label {
  background: #CCCCCC;
  text-align: center;
}

.pc_name.label {
  width: 150px;
}

.pc_name.data {
  width: 650px;
}

.pl_name.label {
  width: 150px;
}

.pl_name.data {
  /*width: 100%;*/
}

.V_level.label {
  width: 150px;
}

.V_level.data {
  width: 200px;
}

.exp_his_sum.label, .sex.label, .age.label {
  width: 120px;
}

.exp_his_sum.data {

}

.sex.data {

}

.age.label {

}

.class_name.label {
  width: 150px;
}

.class_name.datagroup {
  width: 200px;
}

.type_id.label {
  width: 150px;
}

.type_id.datagroup {
  /*width: 200px;*/
}

.table.ryujin_name,.table.created_date {
  display:inline-block;
  width: 47%;
}

.table.ryujin_name {
  margin-right: 5px;
}

.table.created_date {
  margin-left: 5px;
}

.label.ryujin_name,.label.created_date {
  width: 46%;
}

.figure-area {
  display: inline-block;
  width: 44%;
  height: 100%;
  border-style: dashed;
  border-width: 3px;
  border-color: black;
}

.title-area {
  display:inline-block;
  width: 54%;
  height: 100%;
  vertical-align: baseline;
  padding-right: 20px;
}

.ryutama-title {
  font-size: 300%;
}

.ryutama-title-english {
  font-style: italic;
  text-align: center;
}

.traveler-character-sheet {
  border: 2px solid black;
  text-align: center;
  color: #FFFFFF;
  text-shadow:
    black 1px 0px 0px,
    black 0px 1px 0px,
    black -1px 0px 0px,
    black 0px -1px 0px;
}

.ryutama-header {
  height: 21.888412017%;
}

@page {
  size: B5 portrait;
}

.page {
  page-break-after: always;
  width: 182mm;
  height: 257mm;
}
